In [1]:
import pandas as pd
import numpy as np

In [14]:
std = pd.read_csv("D:\\College\\Hackthone\\Smart Gujrat\\Data\\students.csv")
std.head()
std

,Student_ID,Name,Skills,Education,Experience
0,1,Student_1,"Python, Machine Learning, Cybersecurity, Web D...",M.Tech,5+ years
1,2,Student_2,"Python, Cloud Computing, Java, Web Development...",M.Tech,3 years
2,3,Student_3,"Java, DevOps, C++, Cloud Computing",B.Tech,2 years
3,4,Student_4,"Machine Learning, Data Science, SQL, DevOps, C...",M.Sc,2 years
4,5,Student_5,"Cloud Computing, SQL, Cybersecurity, DevOps",B.Sc,3 years
...,...,...,...,...,...
95,96,Student_96,"Python, Data Science, Web Development, Cyberse...",M.Tech,2 years
96,97,Student_97,"Machine Learning, Web Development, Cloud Compu...",B.Sc,2 years
97,98,Student_98,"Cybersecurity, DevOps, Web Development, Cloud ...",B.Tech,3 years
98,99,Student_99,"Cybersecurity, C++, Java, DevOps, SQL",M.Sc,3 years
99,100,Student_100,"Cybersecurity, Web Development, Data Science, ...",B.Tech,1 year

In [3]:
applications = pd.read_csv("D:\\College\\Hackthone\\Smart Gujrat\\Data\\applications.csv")
applications.head()
applications.shape

(200, 5)

In [4]:
jobs = pd.read_csv("D:\\College\\Hackthone\\Smart Gujrat\\Data\\jobs.csv")
jobs.head()

,Job_ID,Company,Job_Role,Required_Skills,Experience_Level
0,1,Tesla,Cloud Engineer,"C++, Machine Learning, Cloud Computing",3 years
1,2,Microsoft,Software Engineer,"Cloud Computing, Cybersecurity",Fresher
2,3,Infosys,ML Engineer,"Web Development, C++",2 years
3,4,Oracle,Data Analyst,"Data Science, DevOps, Java",Fresher
4,5,Microsoft,Cloud Engineer,"Cybersecurity, Cloud Computing, SQL",5+ years

In [5]:
#checking missing value 
std.isnull().sum()

Student_ID    0
Name          0
Skills        0
Education     0
Experience    0
dtype: int64

In [6]:
applications.isnull().sum()

Student_ID            0
Job_ID                0
Applied_Company       0
Job_Role              0
Application_Status    0
dtype: int64

In [7]:
jobs.isnull().sum()

Job_ID              0
Company             0
Job_Role            0
Required_Skills     0
Experience_Level    0
dtype: int64

In [8]:
#now third step is preprocessing the data
#You need to convert text data (like skills and job descriptions) into a format that the machine learning model can understand.
"""Convert skills and job requirements into numerical vectors.
Use TF-IDF (Term Frequency-Inverse Document Frequency) to represent skills and job descriptions as numerical values."""
#Normalize categorical data (e.g., Experience Level, Job Role).
"""Map student applications to jobs to train the recommendation model"""

'Map student applications to jobs to train the recommendation model'

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer
#convert skills and jobs requirement intoo tf idf vector
vectorizer = TfidfVectorizer()
std_skills_tfidf = vectorizer.fit_transform(std['Skills'])
job_requirements_tfidf = vectorizer.fit_transform(jobs['Required_Skills'])

In [10]:
std_skills_tfidf

<100x13 sparse matrix of type '<class 'numpy.float64'>'
	with 475 stored elements in Compressed Sparse Row format>

In [11]:
job_requirements_tfidf

<50x13 sparse matrix of type '<class 'numpy.float64'>'
	with 196 stored elements in Compressed Sparse Row format>

In [12]:
#build recommondation model help of the content based recommondation 
from sklearn.metrics.pairwise import cosine_similarity
#if you want to calculate similarity between two text description
similarity_matrix = cosine_similarity(std_skills_tfidf, job_requirements_tfidf)

#above the things create a metrics
#rows = std
#columns = job requirement 
#value = how well students skill match a jobs requirements

In [13]:
#Create function to recommondation for jobs
#Finds the index (row number) of the student in the dataset.
def recommend_jobs_for_students(student_id , top_n = 5):
    std_idx = std[std['Student_ID'] == student_id].index[0]
    #std[std['Student_ID'] == student_id] finds the student row according their id4
    #index[0] gets the student position in dataset 

    job_scores = list(enumerate(similarity_matrix[std_idx]))
    """Gets similarity scores between this student and all jobs.

similarity_matrix[student_idx]: Extracts similarity values for this student.
enumerate() helps store job indices along with their similarity scores."""

    job_scores = sorted(job_scores, key=lambda x: x[1], reverse=True)[:top_n]
    """Sorts jobs from highest to lowest similarity and selects the top N jobs.

sorted(job_scores, key=lambda x: x[1], reverse=True): Sorts jobs by best match.
[:top_n]: Picks top N most relevant jobs."""

    recommended_jobs = [jobs.iloc[i[0]] for i in job_scores]
    #Gets job details from the dataset based on the best matches.

    return recommended_jobs

print(recommend_jobs_for_students(1))

[Job_ID                                                           47
Company                                                    Facebook
Job_Role                                   Cybersecurity Specialist
Required_Skills     Web Development, Cloud Computing, Cybersecurity
Experience_Level                                            Fresher
Name: 46, dtype: object, Job_ID                                                             30
Company                                                        Amazon
Job_Role                                                 Data Analyst
Required_Skills     Machine Learning, Cybersecurity, Cloud Computi...
Experience_Level                                               1 year
Name: 29, dtype: object, Job_ID                                                          39
Company                                                        IBM
Job_Role                                         Software Engineer
Required_Skills     Python, C++, Cloud Computing, Machine Learning
Experience_Level                                          5+ years
Name: 38, dtype: object, Job_ID                                                       34
Company                                                  Amazon
Job_Role                                         Cloud Engineer
Required_Skills     Python, Cybersecurity, Web Development, C++
Experience_Level                                         1 year
Name: 33, dtype: object, Job_ID                                                             49
Company                                                           TCS
Job_Role                                                  ML Engineer
Required_Skills     Cybersecurity, Web Development, Cloud Computin...
Experience_Level                                               1 year
Name: 48, dtype: object]