In [1]:
import pandas as pd  
import numpy as np
import pickle

In [2]:
std = pd.read_csv("Data\\students.csv")
std

,Student_ID,Name,Skills,Education,Experience
0,1,Amit Verma,"Python, Machine Learning, Cybersecurity, Web D...",M.Tech,5+ years
1,2,Rahul Sharma,"Python, Cloud Computing, Java, Web Development...",M.Tech,3 years
2,3,Ananya Chopra,"Java, DevOps, C++, Cloud Computing",B.Tech,2 years
3,4,Ananya Verma,"Machine Learning, Data Science, SQL, DevOps, C...",M.Sc,2 years
4,5,Rohan Kulkarni,"Cloud Computing, SQL, Cybersecurity, DevOps",B.Sc,3 years
...,...,...,...,...,...
95,96,Kavya Nair,"Python, Data Science, Web Development, Cyberse...",M.Tech,2 years
96,97,Kavya Mehta,"Machine Learning, Web Development, Cloud Compu...",B.Sc,2 years
97,98,Rohan Bose,"Cybersecurity, DevOps, Web Development, Cloud ...",B.Tech,3 years
98,99,Priya Verma,"Cybersecurity, C++, Java, DevOps, SQL",M.Sc,3 years
99,100,Rohan Reddy,"Cybersecurity, Web Development, Data Science, ...",B.Tech,1 year

In [3]:
jobs = pd.read_csv("Data\\jobs.csv")
jobs

,Job_ID,Company,Job_Role,Required_Skills,Experience_Level
0,1,Tesla,Cloud Engineer,"C++, Machine Learning, Cloud Computing",3 years
1,2,Microsoft,Software Engineer,"Cloud Computing, Cybersecurity",Fresher
2,3,Infosys,ML Engineer,"Web Development, C++",2 years
3,4,Oracle,Data Analyst,"Data Science, DevOps, Java",Fresher
4,5,Microsoft,Cloud Engineer,"Cybersecurity, Cloud Computing, SQL",5+ years
5,6,Oracle,Software Engineer,"Cloud Computing, Web Development",5+ years
6,7,Amazon,Cybersecurity Specialist,"Java, DevOps",5+ years
7,8,Infosys,Data Analyst,"Data Science, Python, SQL, Java",2 years
8,9,TCS,ML Engineer,"DevOps, Java, Python",5+ years
9,10,Facebook,Software Engineer,"Machine Learning, Cloud Computing, Java",3 years
10,11,TCS,Data Analyst,"Cybersecurity, Python",1 year
11,12,Amazon,ML Engineer,"Cloud Computing, Java, C++, Data Science",1 year
12,13,Tesla,Cybersecurity Specialist,"Data Science, Java, Python",2 years
13,14,Amazon,Cloud Engineer,"Machine Learning, DevOps, SQL, Web Development",5+ years
14,15,Microsoft,Cloud Engineer,"DevOps, Java, SQL, Cybersecurity",1 year
15,16,IBM,Software Engineer,"Cloud Computing, DevOps, Web Development",2 years
16,17,Amazon,Cybersecurity Specialist,"Python, Cybersecurity, Web Development, DevOps",2 years
17,18,IBM,Data Analyst,"DevOps, C++",5+ years
18,19,Amazon,Software Engineer,"SQL, C++, Data Science, Python",5+ years
19,20,Google,Cloud Engineer,"Python, Cybersecurity, SQL, Machine Learning",3 years
20,21,Amazon,Cloud Engineer,"DevOps, Python",1 year
21,22,IBM,Software Engineer,"DevOps, C++",3 years
22,23,Oracle,Cybersecurity Specialist,"Python, Cybersecurity, Data Science, SQL",1 year
23,24,Microsoft,Data Analyst,"DevOps, Cloud Computing, Java, C++",Fresher
24,25,Facebook,Cloud Engineer,"Data Science, SQL, C++, DevOps",Fresher
25,26,Google,Cybersecurity Specialist,"Python, Data Science, Machine Learning, Cybers...",3 years
26,27,TCS,Data Analyst,"Cybersecurity, Python, Cloud Computing, C++",3 years
27,28,Oracle,Cloud Engineer,"Java, Python, Cloud Computing, Cybersecurity",3 years
28,29,Tesla,Cloud Engineer,"Java, Data Science, Cloud Computing",5+ years
29,30,Amazon,Data Analyst,"Machine Learning, Cybersecurity, Cloud Computi...",1 year
30,31,TCS,Software Engineer,"SQL, Web Development",1 year
31,32,IBM,ML Engineer,"Cloud Computing, Web Development, Java",5+ years
32,33,Oracle,Cybersecurity Specialist,"Cloud Computing, Cybersecurity",2 years
33,34,Amazon,Cloud Engineer,"Python, Cybersecurity, Web Development, C++",1 year
34,35,Amazon,Cybersecurity Specialist,"Java, Web Development",1 year
35,36,Amazon,Data Analyst,"DevOps, Python, Data Science",Fresher
36,37,Amazon,ML Engineer,"Web Development, Cybersecurity",2 years
37,38,Infosys,Software Engineer,"Data Science, Java, Machine Learning, C++",1 year
38,39,IBM,Software Engineer,"Python, C++, Cloud Computing, Machine Learning",5+ years
39,40,Amazon,Data Analyst,"Python, Cloud Computing, Cybersecurity, C++",Fresher
40,41,Tesla,Cybersecurity Specialist,"Web Development, DevOps",1 year
41,42,Facebook,Cloud Engineer,"Cybersecurity, Data Science, Web Development",1 year
42,43,Facebook,Data Analyst,"DevOps, Cloud Computing, Java, Cybersecurity",5+ years
43,44,Amazon,ML Engineer,"Cybersecurity, Python",2 years
44,45,Microsoft,Software Engineer,"Web Development, Python",1 year
45,46,Wipro,ML Engineer,"Data Science, Cloud Computing, Python",1 year
46,47,Facebook,Cybersecurity Specialist,"Web Development, Cloud Computing, Cybersecurity",Fresher
47,48,Tesla,Cybersecurity Specialist,"SQL, DevOps, Java",Fresher
48,49,TCS,ML Engineer,"Cybersecurity, Web Development, Cloud Computin...",1 year
49,50,Tesla,Cybersecurity Specialist,"Cloud Computing, C++",5+ years

In [4]:
applications = pd.read_csv("Data\\applications.csv")
applications

,Student_ID,Job_ID,Applied_Company,Job_Role,Application_Status
0,69,7,Amazon,Cybersecurity Specialist,Rejected
1,37,9,TCS,ML Engineer,Rejected
2,72,47,Facebook,Cybersecurity Specialist,Pending
3,60,8,Infosys,Data Analyst,Pending
4,45,21,Amazon,Cloud Engineer,Rejected
...,...,...,...,...,...
195,12,1,Tesla,Cloud Engineer,Pending
196,9,33,Oracle,Cybersecurity Specialist,Accepted
197,70,7,Amazon,Cybersecurity Specialist,Pending
198,34,45,Microsoft,Software Engineer,Accepted
199,14,30,Amazon,Data Analyst,Accepted

In [5]:
experience_maping = {
                        "Fresher" :  0,
                        "1 Year" :   1,
                        "2 Years" :  2,
                        "3 Years" :  3,
                        "4 Years" :  4,
                        "5+ Years":  5
}

In [6]:
#apply job maping
std["Experience"] = std["Experience"].map(experience_maping)
jobs['Experience_Level'] = jobs["Experience_Level"].map(experience_maping)

#Makes it easier to compare student experience with job requirements

In [7]:
#convert text based skill into numerical formation 
#we use tf-idf vectorization of the skils
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
std_skills_matrix = vectorizer.fit_transform(std['Skills'])
job_skills_matrix = vectorizer.fit_transform(jobs['Required_Skills'])

In [8]:
#now create common matrix for vectorizer to use help of cosine function
from sklearn.metrics.pairwise import cosine_similarity
similarity_matrix = cosine_similarity(std_skills_matrix,job_skills_matrix)

In [9]:
def recommend_students(job_id,top_n = 5):
    #top_n = 5 best matched students for the job
    job_idx = jobs[jobs['Job_ID']==job_id].index[0]
    similarity_scores = similarity_matrix[:, job_idx]
    """The similarity_matrix contains cosine similarity scores for every student-job combination.
Extracts the column for the specific job to get similarity scores for all students"""

    # Add Similarity Scores to the Students DataFrame
    std["Match_Score"] = similarity_scores
    #Creates a new column "Match_Score" in students_df.
    #Each student gets their similarity score with the selected job.


    #now it is time to filteration eligable  students 
    eligable_students = std[std['Experience'] >= jobs.loc[job_id,'Experience_Level']]

    #Sort Students by Best Match Score & Return Top N
    return eligable_students.sort_values(by="Match_Score", ascending=False).head(top_n)
    #Sorts eligible students by "Match_Score" in descending order (highest similarity first).
    #Returns top_n best-matched students (default 5).

In [10]:
job_id = 3  # Example job ID
recommended_students = recommend_students(job_id)
print(recommended_students[["Name", "Skills", "Experience", "Match_Score"]])

            Name                                             Skills  \
60   Ananya Iyer             Machine Learning, C++, Web Development
46  Aarav Sharma  Web Development, Cloud Computing, SQL, Machine...
57     Amit Iyer  Cloud Computing, Machine Learning, Web Develop...
94    Neha Reddy  Web Development, DevOps, Data Science, Machine...
20    Neha Patel                   C++, Cybersecurity, DevOps, Java

    Experience  Match_Score
60         0.0     0.730698
46         0.0     0.572807
57         0.0     0.564606
94         0.0     0.544497
20         0.0     0.000000

In [11]:
with open("model.pkl", "wb") as f:
    pickle.dump((vectorizer, similarity_matrix, std, jobs), f)